<div class="home-container">
  <div class="container">
    <div class="introduction d-flex flex-column">
      <h1>Bem vindo ao MyHero</h1>
      <p>
        Bem-vindo ao nosso site, um espaço dedicado aos amantes de super-heróis!
        Aqui você pode cadastrar seus heróis favoritos, criar personagens
        originais e montar sua própria coleção, incluindo detalhes como nome,
        altura, peso e data de nascimento. Deixe sua criatividade fluir e dê
        vida aos heróis que vivem na sua imaginação.
      </p>
    </div>
    <img class="main-image" src="assets/images/heroes.jpg" alt="" />
    <button routerLink="hero" class="home-button">Criar Herói&nbsp;<i class="fa-solid fa-mask"></i></button>
  </div>
</div>
